### 1. Carregar Informações

In [113]:
# importar biblioteca

import pandas as pd

In [114]:
# Carregando os dados

fifa19 = pd.read_csv('fifa19.csv', sep=',', skiprows=None)
fifa19.head()

# Excel:
# xl = pd.ExcelFile(file) # carrega o arquivo
# df = xl.parse('Sheet1') # carrega a aba

# pd.read_csv("fifa19.csv", dtype={"Potential":"int","SlidingTackle":"float64"})

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,565.0,Left,5.0,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.0
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405.0,Right,5.0,5.0,ST,2018,2022-01-01,6.166667,183.0,127100.0
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500.0,290.0,Right,5.0,5.0,LW,2017,2022-01-01,5.750000,150.0,228100.0
3,193080,De Gea,27,Spain,91,93,Manchester United,72000.0,260.0,Right,4.0,1.0,GK,2011,2020-01-01,6.333333,168.0,138600.0
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000.0,355.0,Right,4.0,4.0,RCM,2015,2023-01-01,5.916667,154.0,196400.0

In [115]:
fifa19.tail(3)

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
18204,241638,B. Worman,16,England,47,67,Cambridge United,60.0,1.0,Right,1.0,2.0,ST,2017,2021-01-01,5.666667,148.0,165.0
18205,246268,D. Walker-Rice,17,England,47,66,Tranmere Rovers,60.0,1.0,Right,1.0,2.0,RW,2018,2019-01-01,5.833333,154.0,143.0
18206,246269,G. Nugent,16,England,46,66,Tranmere Rovers,60.0,1.0,Right,1.0,2.0,CM,2018,2019-01-01,5.833333,176.0,165.0

### 2. Informações sobre o dataset

In [116]:
fifa19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18207 entries, 0 to 18206
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        18207 non-null  int64
 1   Name                      18207 non-null  object
 2   Age                       18207 non-null  int64
 3   Nationality               18207 non-null  object
 4   Overall                   18207 non-null  int64
 5   Potential                 18207 non-null  int64
 6   Club                      17966 non-null  object
 7   Value                     17955 non-null  float64
 8   Wage                      18207 non-null  float64
 9   Preferred Foot            18207 non-null  object
 10  International Reputation  18159 non-null  float64
 11  Skill Moves               18159 non-null  float64
 12  Position                  18207 non-null  object
 13  Joined                    18207 non-null  int64
 14  Contract Valid Until      17918 non-null  object
 15  Height                    18207 non-null  float64
 16  Weight                    18207 non-null  float64
 17  Release Clause            18207 non-null  float64
dtypes: float64(7), int64(5), object(6)
memory usage: 2.5+ MB

In [117]:
fifa19.shape

(18207, 18)

In [118]:
fifa19.shape[0]

18207

In [119]:
fifa19.shape[1]

18

In [120]:
print("Temos %0.f linhas e %0.f colunas" % (fifa19.shape[0], fifa19.shape[1]))

Temos 18207 linhas e 18 colunas

In [121]:
fifa19.columns

Index(['ID', 'Name', 'Age', 'Nationality', 'Overall', 'Potential', 'Club',
       'Value', 'Wage', 'Preferred Foot', 'International Reputation',
       'Skill Moves', 'Position', 'Joined', 'Contract Valid Until', 'Height',
       'Weight', 'Release Clause'],
      dtype='object')

In [122]:
fifa19.columns[1]

'Name'

In [123]:
fifa19.index

RangeIndex(start=0, stop=18207, step=1)

### Se quiser estabelecer uma coluna como índice é só usar set_index, por exemplo:

 - df.set_index('nome da coluna')  para uma coluna
 - df.set_index(['nome da coluna 1', 'nome da coluna 2', 'nome da coluna 3', 'nome da coluna n'])  para várias colunas
 - def.set_index((pd.index))[1,2,3,4...], 'nome do índice') # pra criar um indice novo do zero

In [124]:
display(fifa19.head())
display(fifa19.tail())

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,565.0,Left,5.0,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.0
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405.0,Right,5.0,5.0,ST,2018,2022-01-01,6.166667,183.0,127100.0
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500.0,290.0,Right,5.0,5.0,LW,2017,2022-01-01,5.750000,150.0,228100.0
3,193080,De Gea,27,Spain,91,93,Manchester United,72000.0,260.0,Right,4.0,1.0,GK,2011,2020-01-01,6.333333,168.0,138600.0
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000.0,355.0,Right,4.0,4.0,RCM,2015,2023-01-01,5.916667,154.0,196400.0

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
18202,238813,J. Lundstram,19,England,47,65,Crewe Alexandra,60.0,1.0,Right,1.0,2.0,CM,2017,2019-01-01,5.750000,134.0,143.0
18203,243165,N. Christoffersson,19,Sweden,47,63,Trelleborgs FF,60.0,1.0,Right,1.0,2.0,ST,2018,2020-01-01,6.250000,170.0,113.0
18204,241638,B. Worman,16,England,47,67,Cambridge United,60.0,1.0,Right,1.0,2.0,ST,2017,2021-01-01,5.666667,148.0,165.0
18205,246268,D. Walker-Rice,17,England,47,66,Tranmere Rovers,60.0,1.0,Right,1.0,2.0,RW,2018,2019-01-01,5.833333,154.0,143.0
18206,246269,G. Nugent,16,England,46,66,Tranmere Rovers,60.0,1.0,Right,1.0,2.0,CM,2018,2019-01-01,5.833333,176.0,165.0

In [125]:
pd.set_option('max_colwidth', 40)
#pd.set_option('max_rows', 100)
#pd.set_option('max_columns', 60)

pd.get_option('max_colwidth')

40

In [126]:
def low_values_red(value):
    color = 'red' if value < 92 else 'black'
    return 'color: %s' %color

fifa19[['Overall', 'Potential']].head(10).style.applymap(low_values_red)

In [127]:
fifa19.head(10).style.applymap(low_values_red, subset = ['Overall', 'Potential'])

In [128]:
def highlight_max(s):
    is_max = s == s.max() # checa esse booleano s == s.max(), e depois guarda em is_max
    return ['background-color: yellow' if v else '' for v in is_max]

fifa19.head(10).style.apply(highlight_max, subset=['Age', 'Overall', 'Potential'])

In [129]:
fifa19[['Overall', 'Potential']].head(10).style.\
applymap(low_values_red).\
apply(highlight_max)

Mais sobre formatação em: https://pandas.pydata.org/pandas-docs/stable/user_guide/style.html

### 3. Filtros e Seleções

In [130]:
fifa19.head(5)

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,565.0,Left,5.0,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.0
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405.0,Right,5.0,5.0,ST,2018,2022-01-01,6.166667,183.0,127100.0
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500.0,290.0,Right,5.0,5.0,LW,2017,2022-01-01,5.750000,150.0,228100.0
3,193080,De Gea,27,Spain,91,93,Manchester United,72000.0,260.0,Right,4.0,1.0,GK,2011,2020-01-01,6.333333,168.0,138600.0
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000.0,355.0,Right,4.0,4.0,RCM,2015,2023-01-01,5.916667,154.0,196400.0

In [131]:
fifa19.loc[1]

ID                                      20801
Name                        Cristiano Ronaldo
Age                                        33
Nationality                          Portugal
Overall                                    94
Potential                                  94
Club                                 Juventus
Value                                 77000.0
Wage                                    405.0
Preferred Foot                          Right
International Reputation                  5.0
Skill Moves                               5.0
Position                                   ST
Joined                                   2018
Contract Valid Until               2022-01-01
Height                               6.166667
Weight                                  183.0
Release Clause                       127100.0
Name: 1, dtype: object

In [132]:
fifa19.loc[0:5]

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,565.0,Left,5.0,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.0
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405.0,Right,5.0,5.0,ST,2018,2022-01-01,6.166667,183.0,127100.0
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500.0,290.0,Right,5.0,5.0,LW,2017,2022-01-01,5.750000,150.0,228100.0
3,193080,De Gea,27,Spain,91,93,Manchester United,72000.0,260.0,Right,4.0,1.0,GK,2011,2020-01-01,6.333333,168.0,138600.0
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000.0,355.0,Right,4.0,4.0,RCM,2015,2023-01-01,5.916667,154.0,196400.0
5,183277,E. Hazard,27,Belgium,91,91,Chelsea,93000.0,340.0,Right,4.0,4.0,LF,2012,2020-01-01,5.666667,163.0,172100.0

In [133]:
fifa19[0:5]

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,565.0,Left,5.0,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.0
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405.0,Right,5.0,5.0,ST,2018,2022-01-01,6.166667,183.0,127100.0
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500.0,290.0,Right,5.0,5.0,LW,2017,2022-01-01,5.750000,150.0,228100.0
3,193080,De Gea,27,Spain,91,93,Manchester United,72000.0,260.0,Right,4.0,1.0,GK,2011,2020-01-01,6.333333,168.0,138600.0
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000.0,355.0,Right,4.0,4.0,RCM,2015,2023-01-01,5.916667,154.0,196400.0

In [134]:
fifa19.loc[0:5, 'Age']

0    31
1    33
2    26
3    27
4    27
5    27
Name: Age, dtype: int64

In [135]:
fifa19.iloc[0:5, 1:4]

                Name  Age Nationality
0           L. Messi   31   Argentina
1  Cristiano Ronaldo   33    Portugal
2          Neymar Jr   26      Brazil
3             De Gea   27       Spain
4       K. De Bruyne   27     Belgium

In [136]:
fifa19[0:10]

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,565.0,Left,5.0,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.0
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405.0,Right,5.0,5.0,ST,2018,2022-01-01,6.166667,183.0,127100.0
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500.0,290.0,Right,5.0,5.0,LW,2017,2022-01-01,5.750000,150.0,228100.0
3,193080,De Gea,27,Spain,91,93,Manchester United,72000.0,260.0,Right,4.0,1.0,GK,2011,2020-01-01,6.333333,168.0,138600.0
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000.0,355.0,Right,4.0,4.0,RCM,2015,2023-01-01,5.916667,154.0,196400.0
5,183277,E. Hazard,27,Belgium,91,91,Chelsea,93000.0,340.0,Right,4.0,4.0,LF,2012,2020-01-01,5.666667,163.0,172100.0
6,177003,L. Modrić,32,Croatia,91,91,Real Madrid,67000.0,420.0,Right,4.0,4.0,RCM,2012,2020-01-01,5.666667,146.0,137400.0
7,176580,L. Suárez,31,Uruguay,91,91,FC Barcelona,80000.0,455.0,Right,5.0,3.0,RS,2014,2021-01-01,6.000000,190.0,164000.0
8,155862,Sergio Ramos,32,Spain,91,91,Real Madrid,51000.0,380.0,Right,4.0,3.0,RCB,2005,2020-01-01,6.000000,181.0,104600.0
9,200389,J. Oblak,25,Slovenia,90,93,Atlético Madrid,68000.0,94.0,Right,3.0,1.0,GK,2014,2021-01-01,6.166667,192.0,144500.0

In [137]:
 fifa19.loc[(fifa19['Age'] > 30) & (fifa19['Overall'] >= 90)]

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,565.0,Left,5.0,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.0
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405.0,Right,5.0,5.0,ST,2018,2022-01-01,6.166667,183.0,127100.0
6,177003,L. Modrić,32,Croatia,91,91,Real Madrid,67000.0,420.0,Right,4.0,4.0,RCM,2012,2020-01-01,5.666667,146.0,137400.0
7,176580,L. Suárez,31,Uruguay,91,91,FC Barcelona,80000.0,455.0,Right,5.0,3.0,RS,2014,2021-01-01,6.000000,190.0,164000.0
8,155862,Sergio Ramos,32,Spain,91,91,Real Madrid,51000.0,380.0,Right,4.0,3.0,RCB,2005,2020-01-01,6.000000,181.0,104600.0
12,182493,D. Godín,32,Uruguay,90,90,Atlético Madrid,44000.0,125.0,Right,3.0,2.0,CB,2010,2019-01-01,6.166667,172.0,90200.0
13,168542,David Silva,32,Spain,90,90,Manchester City,60000.0,285.0,Left,4.0,4.0,LCM,2010,2020-01-01,5.666667,148.0,111000.0

In [138]:
tiozoes_do_fifa = fifa19.query("Age > 30")
tiozoes_do_fifa.head()

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,565.0,Left,5.0,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.0
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405.0,Right,5.0,5.0,ST,2018,2022-01-01,6.166667,183.0,127100.0
6,177003,L. Modrić,32,Croatia,91,91,Real Madrid,67000.0,420.0,Right,4.0,4.0,RCM,2012,2020-01-01,5.666667,146.0,137400.0
7,176580,L. Suárez,31,Uruguay,91,91,FC Barcelona,80000.0,455.0,Right,5.0,3.0,RS,2014,2021-01-01,6.000000,190.0,164000.0
8,155862,Sergio Ramos,32,Spain,91,91,Real Madrid,51000.0,380.0,Right,4.0,3.0,RCB,2005,2020-01-01,6.000000,181.0,104600.0

In [139]:
fifa19[fifa19['Age']>30]

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,565.0,Left,5.0,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.000000
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405.0,Right,5.0,5.0,ST,2018,2022-01-01,6.166667,183.0,127100.000000
6,177003,L. Modrić,32,Croatia,91,91,Real Madrid,67000.0,420.0,Right,4.0,4.0,RCM,2012,2020-01-01,5.666667,146.0,137400.000000
7,176580,L. Suárez,31,Uruguay,91,91,FC Barcelona,80000.0,455.0,Right,5.0,3.0,RS,2014,2021-01-01,6.000000,190.0,164000.000000
8,155862,Sergio Ramos,32,Spain,91,91,Real Madrid,51000.0,380.0,Right,4.0,3.0,RCB,2005,2020-01-01,6.000000,181.0,104600.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17842,182461,Zhou Ting,39,China PR,52,52,Dalian YiFang FC,10.0,1.0,Right,1.0,2.0,CM,2017,2020-01-01,6.083333,163.0,22.000000
17866,232676,N. Hatta,32,Japan,52,52,Júbilo Iwata,30.0,1.0,Right,1.0,1.0,GK,2005,2021-01-01,6.083333,168.0,38.000000
18043,237917,A. Suzuki,31,Japan,50,50,Yokohama F. Marinos,20.0,1.0,Right,1.0,1.0,GK,2017,2021-01-01,6.000000,176.0,25.000000
18171,237746,Y. Uchimura,33,Japan,48,48,Hokkaido Consadole Sapporo,20.0,1.0,Right,1.0,2.0,CAM,2010,2021-01-01,5.750000,148.0,25.000000
18183,53748,K. Pilkington,44,England,48,48,Cambridge United,NaN,1.0,Right,1.0,1.0,GK,2018,2023-01-01,6.166667,190.0,4585.060806

In [140]:
fifa19[fifa19['International Reputation'] == fifa19['Skill Moves']]

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405.0,Right,5.0,5.0,ST,2018,2022-01-01,6.166667,183.0,127100.000000
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500.0,290.0,Right,5.0,5.0,LW,2017,2022-01-01,5.750000,150.0,228100.000000
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000.0,355.0,Right,4.0,4.0,RCM,2015,2023-01-01,5.916667,154.0,196400.000000
5,183277,E. Hazard,27,Belgium,91,91,Chelsea,93000.0,340.0,Right,4.0,4.0,LF,2012,2020-01-01,5.666667,163.0,172100.000000
6,177003,L. Modrić,32,Croatia,91,91,Real Madrid,67000.0,420.0,Right,4.0,4.0,RCM,2012,2020-01-01,5.666667,146.0,137400.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18178,243158,L. Wahlstedt,18,Sweden,48,65,Dalkurd FF,50.0,1.0,Right,1.0,1.0,GK,2018,2018-01-01,6.000000,176.0,94.000000
18180,221669,M. Hurst,22,Scotland,48,58,St. Johnstone FC,40.0,1.0,Right,1.0,1.0,GK,2013,2019-01-01,6.083333,172.0,78.000000
18183,53748,K. Pilkington,44,England,48,48,Cambridge United,NaN,1.0,Right,1.0,1.0,GK,2018,2023-01-01,6.166667,190.0,4585.060806
18194,245862,J. Milli,18,Italy,47,65,Lecce,50.0,1.0,Right,1.0,1.0,GK,2018,2021-01-01,6.250000,187.0,109.000000
18198,242844,J. Livesey,18,England,47,70,Burton Albion,60.0,1.0,Right,1.0,1.0,GK,2018,2021-01-01,5.916667,154.0,165.000000

In [141]:
fifa19.filter(['Age', 'ID', 'Name'])

       Age      ID                Name
0       31  158023            L. Messi
1       33   20801   Cristiano Ronaldo
2       26  190871           Neymar Jr
3       27  193080              De Gea
4       27  192985        K. De Bruyne
...    ...     ...                 ...
18202   19  238813        J. Lundstram
18203   19  243165  N. Christoffersson
18204   16  241638           B. Worman
18205   17  246268      D. Walker-Rice
18206   16  246269           G. Nugent

[18207 rows x 3 columns]

In [142]:
overall_median = fifa19['Overall'].median()
fifa19.query("Overall > @overall_median")

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,565.0,Left,5.0,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.000000
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405.0,Right,5.0,5.0,ST,2018,2022-01-01,6.166667,183.0,127100.000000
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500.0,290.0,Right,5.0,5.0,LW,2017,2022-01-01,5.750000,150.0,228100.000000
3,193080,De Gea,27,Spain,91,93,Manchester United,72000.0,260.0,Right,4.0,1.0,GK,2011,2020-01-01,6.333333,168.0,138600.000000
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000.0,355.0,Right,4.0,4.0,RCM,2015,2023-01-01,5.916667,154.0,196400.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8759,224509,U. Rivas,22,Mexico,67,73,Santos Laguna,1000.0,6.0,Right,1.0,2.0,CM,2014,2023-01-01,5.833333,157.0,2000.000000
8760,214014,C. Lizarazo,27,Colombia,67,67,América de Cali,800.0,1.0,Left,1.0,3.0,CAM,2018,2019-01-01,5.583333,148.0,1100.000000
8761,104702,D. Braaten,36,Norway,67,67,SK Brann,260.0,2.0,Right,1.0,3.0,RW,2016,2018-01-01,6.000000,207.0,325.000000
8762,229631,Lazo,22,Spain,67,75,CD Lugo,1100.0,7.0,Left,1.0,3.0,LM,2016,2019-06-30,5.833333,152.0,4585.060806
8763,246015,L. Mago,23,Venezuela,67,73,NaN,NaN,0.0,Left,1.0,2.0,LB,2016,NaN,6.000000,174.0,4585.060806

In [143]:
df_champs = fifa19[fifa19['Nationality'].isin(['Argentina', 'Brazil', 'Germany', 'France', 'Italy', 'England'])]
df_champs.head()

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,565.0,Left,5.0,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.0
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500.0,290.0,Right,5.0,5.0,LW,2017,2022-01-01,5.750000,150.0,228100.0
11,182521,T. Kroos,28,Germany,90,90,Real Madrid,76500.0,355.0,Right,4.0,3.0,LCM,2014,2022-01-01,6.000000,168.0,156800.0
14,215914,N. Kanté,27,France,89,90,Chelsea,63000.0,225.0,Right,3.0,2.0,LDM,2016,2023-01-01,5.500000,159.0,121300.0
15,211110,P. Dybala,24,Argentina,89,94,Juventus,89000.0,205.0,Left,3.0,4.0,LF,2015,2022-01-01,5.833333,165.0,153500.0

In [144]:
df_no_champs = fifa19[~fifa19['Nationality'].isin(['Argentina', 'Brazil', 'Germany', 'France', 'Italy', 'England'])]
df_no_champs.head()

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405.0,Right,5.0,5.0,ST,2018,2022-01-01,6.166667,183.0,127100.0
3,193080,De Gea,27,Spain,91,93,Manchester United,72000.0,260.0,Right,4.0,1.0,GK,2011,2020-01-01,6.333333,168.0,138600.0
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000.0,355.0,Right,4.0,4.0,RCM,2015,2023-01-01,5.916667,154.0,196400.0
5,183277,E. Hazard,27,Belgium,91,91,Chelsea,93000.0,340.0,Right,4.0,4.0,LF,2012,2020-01-01,5.666667,163.0,172100.0
6,177003,L. Modrić,32,Croatia,91,91,Real Madrid,67000.0,420.0,Right,4.0,4.0,RCM,2012,2020-01-01,5.666667,146.0,137400.0

In [145]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
fifa19_numerics = fifa19.select_dtypes(include = numerics)
fifa19_numerics.head()

,ID,Age,Overall,Potential,Value,Wage,International Reputation,Skill Moves,Joined,Height,Weight,Release Clause
0,158023,31,94,94,110500.0,565.0,5.0,4.0,2004,5.583333,159.0,226500.0
1,20801,33,94,94,77000.0,405.0,5.0,5.0,2018,6.166667,183.0,127100.0
2,190871,26,92,93,118500.0,290.0,5.0,5.0,2017,5.750000,150.0,228100.0
3,193080,27,91,93,72000.0,260.0,4.0,1.0,2011,6.333333,168.0,138600.0
4,192985,27,91,92,102000.0,355.0,4.0,4.0,2015,5.916667,154.0,196400.0

In [146]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
fifa19_non_numerics = fifa19.select_dtypes(exclude = numerics)
fifa19_non_numerics.head()

,Name,Nationality,Club,Preferred Foot,Position,Contract Valid Until
0,L. Messi,Argentina,FC Barcelona,Left,RF,2021-01-01
1,Cristiano Ronaldo,Portugal,Juventus,Right,ST,2022-01-01
2,Neymar Jr,Brazil,Paris Saint-Germain,Right,LW,2022-01-01
3,De Gea,Spain,Manchester United,Right,GK,2020-01-01
4,K. De Bruyne,Belgium,Manchester City,Right,RCM,2023-01-01

In [147]:
fifa19.sort_values(by = 'Overall', ascending= False).head(10)

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,565.0,Left,5.0,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.0
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405.0,Right,5.0,5.0,ST,2018,2022-01-01,6.166667,183.0,127100.0
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500.0,290.0,Right,5.0,5.0,LW,2017,2022-01-01,5.750000,150.0,228100.0
3,193080,De Gea,27,Spain,91,93,Manchester United,72000.0,260.0,Right,4.0,1.0,GK,2011,2020-01-01,6.333333,168.0,138600.0
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000.0,355.0,Right,4.0,4.0,RCM,2015,2023-01-01,5.916667,154.0,196400.0
5,183277,E. Hazard,27,Belgium,91,91,Chelsea,93000.0,340.0,Right,4.0,4.0,LF,2012,2020-01-01,5.666667,163.0,172100.0
6,177003,L. Modrić,32,Croatia,91,91,Real Madrid,67000.0,420.0,Right,4.0,4.0,RCM,2012,2020-01-01,5.666667,146.0,137400.0
7,176580,L. Suárez,31,Uruguay,91,91,FC Barcelona,80000.0,455.0,Right,5.0,3.0,RS,2014,2021-01-01,6.000000,190.0,164000.0
8,155862,Sergio Ramos,32,Spain,91,91,Real Madrid,51000.0,380.0,Right,4.0,3.0,RCB,2005,2020-01-01,6.000000,181.0,104600.0
12,182493,D. Godín,32,Uruguay,90,90,Atlético Madrid,44000.0,125.0,Right,3.0,2.0,CB,2010,2019-01-01,6.166667,172.0,90200.0

In [148]:
fifa19.drop_duplicates()

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,565.0,Left,5.0,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.0
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405.0,Right,5.0,5.0,ST,2018,2022-01-01,6.166667,183.0,127100.0
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500.0,290.0,Right,5.0,5.0,LW,2017,2022-01-01,5.750000,150.0,228100.0
3,193080,De Gea,27,Spain,91,93,Manchester United,72000.0,260.0,Right,4.0,1.0,GK,2011,2020-01-01,6.333333,168.0,138600.0
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000.0,355.0,Right,4.0,4.0,RCM,2015,2023-01-01,5.916667,154.0,196400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18202,238813,J. Lundstram,19,England,47,65,Crewe Alexandra,60.0,1.0,Right,1.0,2.0,CM,2017,2019-01-01,5.750000,134.0,143.0
18203,243165,N. Christoffersson,19,Sweden,47,63,Trelleborgs FF,60.0,1.0,Right,1.0,2.0,ST,2018,2020-01-01,6.250000,170.0,113.0
18204,241638,B. Worman,16,England,47,67,Cambridge United,60.0,1.0,Right,1.0,2.0,ST,2017,2021-01-01,5.666667,148.0,165.0
18205,246268,D. Walker-Rice,17,England,47,66,Tranmere Rovers,60.0,1.0,Right,1.0,2.0,RW,2018,2019-01-01,5.833333,154.0,143.0
18206,246269,G. Nugent,16,England,46,66,Tranmere Rovers,60.0,1.0,Right,1.0,2.0,CM,2018,2019-01-01,5.833333,176.0,165.0

### Estatística Descritiva

In [149]:
fifa19.describe()

,ID,Age,Overall,Potential,Value,Wage,International Reputation,Skill Moves,Joined,Height,Weight,Release Clause
count,18207.000000,18207.000000,18207.000000,18207.000000,17955.000000,18207.000000,18159.000000,18159.000000,18207.000000,18207.000000,18207.000000,18207.000000
mean,214298.338606,25.122206,66.238699,71.307299,2444.530214,9.731312,1.113222,2.361308,2016.420607,5.946771,165.979129,4585.060971
std,29965.244204,4.669943,6.908930,6.136496,5626.715434,21.999290,0.394031,0.756164,2.018194,0.220514,15.572775,10630.414430
min,16.000000,16.000000,46.000000,48.000000,10.000000,0.000000,1.000000,1.000000,1991.000000,5.083333,110.000000,13.000000
25%,200315.500000,21.000000,62.000000,67.000000,325.000000,1.000000,1.000000,2.000000,2016.000000,5.750000,154.000000,570.000000
50%,221759.000000,25.000000,66.000000,71.000000,700.000000,3.000000,1.000000,2.000000,2017.000000,5.916667,165.000000,1300.000000
75%,236529.500000,28.000000,71.000000,75.000000,2100.000000,9.000000,1.000000,3.000000,2018.000000,6.083333,176.000000,4585.060806
max,246620.000000,45.000000,94.000000,95.000000,118500.000000,565.000000,5.000000,5.000000,2018.000000,6.750000,243.000000,228100.000000

In [150]:
fifa19['Age'].describe(percentiles=[0.1, 0.2, 0.8, 0.99])

count    18207.000000
mean        25.122206
std          4.669943
min         16.000000
10%         19.000000
20%         21.000000
50%         25.000000
80%         29.000000
99%         36.000000
max         45.000000
Name: Age, dtype: float64

In [151]:
fifa19.agg({'Age': ['min', 'max', 'skew', 'median'],
            'Overall':['mean', 'min']})

              Age    Overall
min     16.000000  46.000000
max     45.000000        NaN
skew     0.391764        NaN
median  25.000000        NaN
mean          NaN  66.238699

In [168]:
df_champs.groupby(fifa19['Nationality'])[['Age', 'Overall']].mean().sort_values(by = 'Overall', ascending= False)

                   Age    Overall
Nationality
Brazil       27.625151  71.251511
Argentina    26.205977  68.572038
Italy        25.928775  68.158120
France       24.615974  67.798687
Germany      24.338063  66.086811
England      24.030084  63.429603

In [184]:
import numpy as np 

pd.pivot_table(df_champs, index = ['Nationality'], values=fifa19_numerics, aggfunc=np.mean)

,Age,Height,ID,International Reputation,Joined,Overall,Potential,Release Clause,Skill Moves,Value,Wage,Weight
Nationality,,,,,,,,,,,,
Argentina,26.205977,5.868940,214452.561366,1.133547,2016.462113,68.572038,73.210245,5342.674839,2.454060,3080.299145,11.502668,165.665933
Brazil,27.625151,5.937396,218810.801693,1.163636,2017.178960,71.251511,73.351874,8695.941199,2.633939,4608.202179,17.778718,167.576733
England,24.030084,5.957572,207327.731649,1.065178,2016.365223,63.429603,70.037304,3244.199982,2.253470,1500.551205,9.943442,164.124486
France,24.615974,5.956244,214077.617068,1.206367,2016.640044,67.798687,73.447484,7206.857450,2.400659,3683.849945,14.053611,166.600588
Germany,24.338063,6.026787,217681.117696,1.138912,2016.489983,66.086811,71.699499,4578.126760,2.279498,2529.307179,9.639399,172.301283
Italy,25.928775,5.989326,206580.970085,1.207439,2016.316239,68.158120,72.690883,5379.739999,2.396280,3047.571225,13.478632,167.474270

In [194]:
pd.pivot_table(df_champs, index = ['Nationality'], values = ['Age', 'Overall', 'Potential'], aggfunc=np.mean)

                   Age    Overall  Potential
Nationality
Argentina    26.205977  68.572038  73.210245
Brazil       27.625151  71.251511  73.351874
England      24.030084  63.429603  70.037304
France       24.615974  67.798687  73.447484
Germany      24.338063  66.086811  71.699499
Italy        25.928775  68.158120  72.690883

In [186]:
fifa19.columns

Index(['ID', 'Name', 'Age', 'Nationality', 'Overall', 'Potential', 'Club',
       'Value', 'Wage', 'Preferred Foot', 'International Reputation',
       'Skill Moves', 'Position', 'Joined', 'Contract Valid Until', 'Height',
       'Weight', 'Release Clause'],
      dtype='object')

In [197]:
pd.pivot_table(df_champs, index = ['Nationality', 'Position'], columns = ['Club'], values = ['Age', 'Overall', 'Value'], aggfunc=np.mean)

                                      Age                        \
Club                  SSV Jahn Regensburg 1. FC Heidenheim 1846
Nationality Position
Argentina   CAM                       NaN                   NaN
            CB                        NaN                   NaN
            CDM                       NaN                   NaN
            CF                        NaN                   NaN
            CM                        NaN                   NaN
...                                   ...                   ...
Italy       RM                        NaN                   NaN
            RS                        NaN                   NaN
            RW                        NaN                   NaN
            RWB                       NaN                   NaN
            ST                        NaN                   NaN

                                                                      \
Club                 1. FC Kaiserslautern 1. FC Köln 1. FC Magdeburg
Nationality Position
Argentina   CAM                       NaN        NaN             NaN
            CB                        NaN        NaN             NaN
            CDM                       NaN        NaN             NaN
            CF                        NaN        NaN             NaN
            CM                        NaN        NaN             NaN
...                                   ...        ...             ...
Italy       RM                        NaN        NaN             NaN
            RS                        NaN        NaN             NaN
            RW                        NaN        NaN             NaN
            RWB                       NaN        NaN             NaN
            ST                        NaN        NaN             NaN

                                                                        \
Club                 1. FC Nürnberg 1. FC Union Berlin 1. FSV Mainz 05
Nationality Position
Argentina   CAM                 NaN                NaN             NaN
            CB                  NaN                NaN             NaN
            CDM                 NaN                NaN             NaN
            CF                  NaN                NaN             NaN
            CM                  NaN                NaN             NaN
...                             ...                ...             ...
Italy       RM                  NaN                NaN             NaN
            RS                  NaN                NaN             NaN
            RW                  NaN                NaN             NaN
            RWB                 NaN                NaN             NaN
            ST                  NaN                NaN             NaN

                                            ...          Value  \
Club                 AC Ajaccio AC Horsens  ... Wolfsberger AC
Nationality Position                        ...
Argentina   CAM             NaN        NaN  ...            NaN
            CB              NaN        NaN  ...            NaN
            CDM             NaN        NaN  ...            NaN
            CF              NaN        NaN  ...            NaN
            CM              NaN        NaN  ...            NaN
...                         ...        ...  ...            ...
Italy       RM              NaN        NaN  ...            NaN
            RS              NaN        NaN  ...            NaN
            RW              NaN        NaN  ...            NaN
            RWB             NaN        NaN  ...            NaN
            ST              NaN        NaN  ...            NaN

                                                                \
Club                 Wolverhampton Wanderers Wycombe Wanderers
Nationality Position
Argentina   CAM                          NaN               NaN
            CB                           NaN               NaN
            CDM                          NaN               NaN
            CF                           NaN               NaN
            CM                           NaN               NaN
...                                      ...               ...
Italy       RM                           NaN               NaN
            RS                           NaN               NaN
            RW                           NaN               NaN
            RWB                          NaN               NaN
            ST                           NaN               NaN

                                                                       \
Club                 Yeni Malatyaspor Yeovil Town Yokohama F. Marinos
Nationality Position
Argentina   CAM                   NaN         NaN                 NaN
            CB                    NaN         NaN                 NaN
            CDM                   NaN         NaN                 NaN
            CF                    NaN         NaN                 NaN
            CM                    NaN         NaN                 NaN
...                               ...         ...                 ...
Italy       RM                    NaN         NaN                 NaN
            RS                    NaN         NaN                 NaN
            RW                    NaN         NaN                 NaN
            RWB                   NaN         NaN                 NaN
            ST                    NaN         NaN                 NaN

                                                                   \
Club                 Zagłębie Sosnowiec Çaykur Rizespor Örebro SK
Nationality Position
Argentina   CAM                     NaN             NaN       NaN
            CB                      NaN             NaN       NaN
            CDM                     NaN             NaN       NaN
            CF                      NaN             NaN       NaN
            CM                      NaN             NaN       NaN
...                                 ...             ...       ...
Italy       RM                      NaN             NaN       NaN
            RS                      NaN             NaN       NaN
            RW                      NaN             NaN       NaN
            RWB                     NaN             NaN       NaN
            ST                      NaN             NaN       NaN


Club                 Östersunds FK
Nationality Position
Argentina   CAM                NaN
            CB                 NaN
            CDM                NaN
            CF                 NaN
            CM                 NaN
...                            ...
Italy       RM                 NaN
            RS                 NaN
            RW                 NaN
            RWB                NaN
            ST                 NaN

[145 rows x 1737 columns]

In [198]:
df_champs.Nationality.value_counts()

Nationality
England      1662
Germany      1198
Argentina     937
France        914
Brazil        827
Italy         702
Name: count, dtype: int64

In [199]:
df_champs.Nationality.value_counts(normalize=True)

Nationality
England      0.266346
Germany      0.191987
Argentina    0.150160
France       0.146474
Brazil       0.132532
Italy        0.112500
Name: proportion, dtype: float64

In [201]:
df_champs.groupby('Club')['Nationality'].value_counts()

Club                   Nationality
 SSV Jahn Regensburg   Germany        22
1. FC Heidenheim 1846  Germany        27
1. FC Kaiserslautern   Germany        21
1. FC Köln             Germany        20
                       France          2
                                      ..
Çaykur Rizespor        Italy           1
                       France          1
                       Brazil          1
Örebro SK              Brazil          1
Östersunds FK          England         5
Name: count, Length: 988, dtype: int64

In [202]:
df_champs.groupby('Nationality')['Position'].value_counts()

Nationality  Position
Argentina    ST          125
             CB           99
             GK           97
             LM           64
             RM           62
                        ...
Italy        RDM           4
             RWB           2
             LWB           1
             RF            1
             LDM           1
Name: count, Length: 145, dtype: int64

### SQL no Pandas

In [ ]:
# off-topic: como melhorar o desempenho
# pip install modin
import modin.pandas as pd

In [203]:
import pandasql as ps

In [206]:
query = """
    select ID, Age, Name from fifa19 where Age > 33
"""

In [207]:
ps.sqldf(query, locals())

         ID  Age            Name
0      1179   40       G. Buffon
1        41   34         Iniesta
2    171919   35           Naldo
3    120533   35            Pepe
4     41236   36  Z. Ibrahimović
..      ...  ...             ...
888  244440   36     F. Nicastro
889   51963   44       T. Warner
890  100899   40     S. Phillips
891  182461   39       Zhou Ting
892   53748   44   K. Pilkington

[893 rows x 3 columns]